{% extends 'layout.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flashes alert alert-danger" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<!-- Shows all posts in database -->
{% if posts %}
    {% for post in posts %}
    <div class="container posts">
        <!-- Bootstrap Grid system to make website responsive -->
        <div class="row">
            <div class="col-3 col-md-2">
                <img class="picture_post" src="../static/uploads/{{post.author.profile_picture}}" alt="Profile Picture">
            </div>
            <div class="col-9 col-md-10">
                <div>
                    <a class="post-author mr-2" href="/user/{{post.user_id}}">{{ post.author.name }}</a> 
                    <small class="text-muted">{{ post.postedOn.strftime("%Y-%m-%d") }}</small> 
                </div> 
                <hr>
                <div class="post-text">
                    <h2><a class="post-title" href="/post/{{post.id}}">{{ post.title }}</a></h2>
                    <p class="post-content">{{ post.text }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}  
{% endblock %}