{% extends 'layout.html' %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
       {% for category, message in messages %}
        <div class="flashes alert alert-{{ category }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<!-- Shows all posts in database -->
<div class="container">
    <div class="row">
        <div class="col-sm-8">
        {% if posts %}
            {% for post in posts %}
            <div class="container posts">
                    <div class="row">
                        <div class="col-3 col-md-2">
                            <img class="picture-post" src="../static/uploads/{{post.author.profile_picture}}" alt="Profile Picture">
                        </div>
                        <div class="col-9 col-md-10">
                            <div>
                                <a class="post-author mr-2" href="/user/{{post.user_id}}">{{ post.author.name }}</a> 
                                <small class="text-muted">{{ post.postedOn.strftime("%Y-%m-%d") }}</small> 
                            </div> 
                            <hr>
                            <div class="post-text">
                                <h2><a class="post-title" href="/post/{{post.id}}">{{ post.title }}</a></h2>
                                <p class="post-content">{{ post.text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-sm-4">
        <div class="posts">
            <h3>Latest News</h3>
            <p class='text-muted'>
                Get updated on Business, Tech and Top news
                {% if news %}
                <div class="list-group">
                    {% for article in news %}
                    <a href="{{article.link}}" target="_blank" class="list-group-item list-group-item-action">{{article.title}}</a>
                    {% endfor %}
                </div>
                {% else %}
                    <p> No articles to display right now</p>
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endblock %}