{% extends 'layout.html' %}
{% block content %}
<!-- Doesn't allow user to go to login page if has already logged in -->
{% if session["username"] %} 
     <div class="text-center m-3 alert alert-danger" role="alert">
        You are already logged in.
        <a href="/"><strong>Go to homepage</strong></a>
    </div>
{% else %}
    <div class="login container">
        <h1>Login </h1>
        <br>
        <form action="" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" id="email" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" aria-describedby="passwordHelp" required>
            </div>
            <div class="mb-3 ">
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <small class="text-muted">
                    <a class="remove_underline" href="{{ url_for('reset_request') }}">Forgot Password?</a>
                </small>
            </div>
            <hr>
            <div class="mb-3 ">
                Don't have an account? <a class="remove_underline" href="{{url_for('signup')}}">Sign Up</a>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flashes alert alert-danger" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
        </form>
    </div>
{% endif %}
{% endblock %}