{% extends 'layout.html' %}

{% block content %}
    {% if session["username"] %}
    <div class="container homepage my-5">
        <div class="post-form">
                <form action="/post" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="title" id="title" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="post" class="form-label">Title</label>
                        <textarea name="post" id="post" class="form-control" rows="4" cols="50" required></textarea>
                    </div>
                    <div class="mb-3 ">
                        <button type="submit" class="btn btn-primary">Submit</button><br>
                    </div>
                </form>
            </div>
        </div>
    </div>
        {% endif %}
        {% if posts %}
            {% for post in posts %}
            <div class="container posts">
                <div>
                    <img class="picture_post" src="../static/uploads/{{post.author.profile_picture}}" alt="Profile Picture">
                    <a class="post-author mx-2" href="/{post.user_id}">{{ post.author.name }}</a> 
                    <small class="text-muted">{{ post.postedOn.strftime("%Y-%m-%d") }}</small> 
                </div> 
                <hr>
                <div class="post-text">
                    <h2><a class="post-title" href="#">{{ post.title }}</a></h2>
                    <p class="post-content">{{ post.text }}</p>
                </div>
            </div>
            {% endfor %}
        {% endif %}
  
   
    
{% endblock %}