{% extends 'layout.html' %}
{% block content %}
<div class="container posts">
    <div class="row">
        <div class="col-3 col-md-2">
            <img class="picture_post" src="../static/uploads/{{post.author.profile_picture}}" alt="Profile Picture">
        </div>
        <div class="col-9 col-md-10">
            <div>
                <a class="post-author mr-2" href="/{{post.user_id}}">{{ post.author.name }}</a> 
                <small class="text-muted">{{ post.postedOn.strftime("%Y-%m-%d") }}</small> 
            </div> 
            <hr>
            <div class="post-text">
                <h2><a class="post-title" href="/post/{{post.id}}">{{ post.title }}</a></h2>
                <p class="post-content">{{ post.text }}</p>
            </div>
        </div>
        {% if post.user_id == session["user_id"] %}
        <ul class="list-inline">
            <li class="list-inline-item">
                <form action="/delete/post/{{post.id}}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="mb-3 ">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </li>
            <li class="list-inline-item">
                <form action="/post/updateform/{{post.id}}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="mb-3 ">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </form>
            </li>
        </ul>
        {% endif %}
    </div>
</div>


{% endblock %}