{% extends 'layout.html' %}
{% block content %}
<!-- Doesn't allow user to reset password if has already logged in  -->
{% if session["username"] %} 
     <div class="text-center m-3 alert alert-danger" role="alert">
        You are already logged in.
        <a href="/"><strong>Go to homepage</strong></a>
    </div>
{% else %}
    <div class="login container">
        <h1>Login </h1>
        <br>
        <form action="" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" onkeyup="check()"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" aria-describedby="passwordHelp" required>
            </div>
            <div class="mb-3">
                <label for="confPassword" class="form-label">Confirm password</label>
                <input type="password" name="confPassword" id="confPassword" onkeyup="check()"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control" required>
            </div>
            <div class="mb-3 ">
                <span id="message"></span>
                <button type="submit" class="btn btn-primary">Submit</button><br>
            </div>
            <hr>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flashes alert alert-danger" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
        </form>
    </div>
    <script>
        // checks if password and confirm password are the same
        const check = () => {
            if (document.getElementById("password").value ==
                document.getElementById("confPassword").value) {
                    document.getElementById("message").innerHTML = "";  
            } else {
                document.getElementById("message").style.color = "red";
                document.getElementById("message").innerHTML = "Passwords do not match";
            }
        }
    </script>
{% endif %}
{% endblock %}