/* Sign up page */

.signup, .login, .account{
    margin: 70px auto;
    width: 70%;
    padding: 25px;
    border: 1px solid #ced4da;
    border-radius: 10px;
}

.account{
  width: 50%;
}

.account_picture{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

/* Media-queries */

@media only screen and (min-width: 767px) {
    .signup, .login{
      width: 50%;
    }
  }