body{
  background-color: #fafcfd;
}
.signup, .login, .account, .homepage, .posts{
    margin: 50px auto;
    width: 70%;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    background-color: #ffffff;
}
.navbar-brand{
  font-family: "Rubik Distressed", cursive;
  font-size: 20px;
  letter-spacing: 1px;
}
.bg-layout{
  background-color: #000;
}
.footer-items, .footer-items a, a.nav-link{
  color: #f2f2f2;
  text-decoration: none;
}
.footer-items a:hover, a.nav-link:hover{
  color: rgba(255, 255, 255, 0.55);
}

.posts{
  margin: 20px auto;
}

.account{
  width: 50%;
}

.account_picture{
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.picture_post{
  width:50px;
  height:50px;
  border-radius: 50%;
}
.post-author{
  font-size: 1.2em;
  padding-right: 10px;
  text-decoration: none;
}
.post-title{
  text-decoration: none;
  color: #000;
}
.remove_underline{
  text-decoration: none;
}

/* Media-queries */
@media only screen and (max-width: 280px){
  .picture_post{
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 768px) {
    .signup, .login, .homepage, .posts{
      width: 50%;
      padding: 25px;

    }
    
  }

  @media only screen and (min-width: 992px){
    .picture_post{
      width: 80px;
      height: 80px;
    }
  }