/* Sign up page */

.signup, .login{
    margin: 70px auto;
    width: 70%;
    padding: 25px;
    border: 1px solid #ced4da;
    border-radius: 10px;
}

/* Media-queries */

@media only screen and (min-width: 767px) {
    .signup{
      width: 50%;
    }
  }