body{
  background-color: #fafcfd;
}
.signup, .login, .account, .homepage, .posts{
    margin: 50px auto;
    width: 70%;
    padding: 25px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    background-color: #ffffff;
}
.navbar-brand{
  font-family: 'Rubik Distressed', cursive;
  font-size: 20px;
  letter-spacing: 1px;
}
.bg-layout{
  background-color: #000;
}
.footer-items, .footer-items a, a.nav-link{
  color: #f2f2f2;
  text-decoration: none;
}
.footer-items a:hover, a.nav-link:hover{
  color: rgba(255, 255, 255, 0.55);
}

.posts{
  margin: 20px auto;
}

.account{
  width: 50%;
}

.account_picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.picture_post{
  width:75px;
  height:75px;
  border-radius: 50%;
}
.post-author{
  font-size: 1.2em;
  padding-right: 10px;
  text-decoration: none;
}
.post-title{
  text-decoration: none;
  color: #000;
}

/* Media-queries */

@media only screen and (min-width: 767px) {
    .signup, .login, .homepage, .posts{
      width: 50%;
    }
  }